<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        
        <div id="todolist">
            <div class="container">
                <div class="row">
                    <div class="col-sm"></div>
                    <div class="col-sm">
                        <h2>輸入代辦事項</h2>
                        <input v-model.trim="item" />
                        <button v-on:click="add">新增</button>
                    </div>
                    <div class="col-sm"></div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <h1>代辦事項</h1>
                        <todo-item
                            v-for="(item, index) of todolists" 
                            :key="index" 
                            :content="item" 
                            :index="index"
                            @doing="handleTransferDoingItem"
                        ></todo-item>
                    </div>

                    <div class="col-sm">
                        <h1>執行中</h1>
                        <doing-item
                            v-for="(item, index) of doinglist" 
                            :key="index" 
                            :content="item" 
                            :index="index"
                            @finish="handleTransferFinishItem"
                        ></doing-item>
                    </div>

                    <div class="col-sm">
                        <h1>完成事項</h1>
                        <finish-item
                            v-for="(item, index) of finishlist" 
                            :key="index" 
                            :content="item" 
                            :index="index"
                            @delete="handleDeleteItem"
                        ></finish-item>
                    </div>

                </div>
            </div>
        </div>
        <script src="index.js"></script>
    </body>
</html>